.preview--resto img {
    width: 100%;
    max-height: 320px;
    object-fit: cover;
}

.main {
    &--resto {
        position: relative;
        top: -32px;
        background-color: $color-bg1;
        border-radius: 32px 32px 0 0;

        h1 {
            margin: 12px 0 12px 0;
            flex: 1;
            display: block;
        }

        button {
            margin-top: 16px;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &__title {
        display: flex;
    }

    &__heart {
        @include like;
        font-size: 32px;
        cursor: pointer;
    }
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__container {
        width: 100%;
        max-width: 1023px;

        @media (min-width: 1024px) {
            max-width: 320px;
        }
    }
}

.choice {
    margin-bottom: 16px;
    display: flex;
    flex-wrap: wrap;

    article {
        max-width: 1023px;
        width: 100%;
        top: 1rem;
        position: relative;
        display: flex;
        margin-bottom: 12px;
        opacity: 0;
        transform: translateY(20px);
        cursor: pointer;

     @for $n from 1 through 4 {
            &:nth-of-type(#{$n}) {
             animation: 0.5s ease-in #{$n * 0.2}s forwards fadeinopacity;
            }
        }
    }

    &__article {
        h4 {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

    &__article {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        display: block !important;
        flex: 1;
    }

    &__description {
        font-size: 15px;
        font-weight: 300;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    &__price {
        font-size: 15px;
        font-weight: 600;
        padding: 0 12px 12px 0;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }

    &__confirm {
        background-color: $color-3;
        margin-right: -64px;
        width: 64px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition-duration: 0.5s;

        &::after {
            content: "\f00c";
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            font-size: 16px;
            color: $color-3;
            border-radius: 16px;
            padding: 5px;
            background-color: $color-bg1;
            transition-duration: 0.5s;
            transform: rotate(-360deg);
        }
    }

    article:hover &__confirm {
        margin-right: 0px;
        &::after {
            transform: rotate(0);
        }
    }
}

@keyframes fadeinopacity {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
